anaconda-client==1.7.2
boto==2.49.0
boto3==1.9.66
botocore==1.12.67
bz2file==0.98
certifi==2020.12.5
cffi
chardet
click==7.1.2
docutils==0.16
fasttext==0.9.2
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.10
gunicorn==20.0.4
idna
itsdangerous==1.1.0
Jinja2==2.11.2
jmespath
joblib
MarkupSafe==1.1.1
olefile==0.46
packaging
pdfminer.six==20201018
protobuf==3.13.0
pybind11==2.6.1
pycparser
pyOpenSSL
pyparsing==2.4.7
PySocks
python-dateutil==2.8.1
regex
requests
s3transfer==0.1.13
smart-open==1.8.0
sortedcontainers==2.3.0
soupsieve==2.1
typing-extensions
urllib3==1.24.3
